@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
@import "tailwindcss";

/* Esta línea activa el modo oscuro por botón en Tailwind v4 */
@custom-variant dark (&:is(.dark *));

html {
    font-family: 'Inter', system-ui, sans-serif;
}

/* Ocultar la barra de scroll nativa del navegador */
html {
  /* Para Firefox */
  scrollbar-width: none;
  /* Para Internet Explorer y Edge antiguo */
  -ms-overflow-style: none;
}

/* Para Chrome, Safari y Opera */
html::-webkit-scrollbar {
  display: none;
}